<p class="advertisments__header">
  Рекомендации для вас
</p>
<div class="advertisments">
  <div *ngFor="let ad of mockData" class="xl:col-3 lg:col-4 md:col-6 sm:col-12 advertisments__card">
    <app-advertisment-card [ad]="ad"></app-advertisment-card>
  </div>  
</div>

<!-- <div class="grid grid_cards" *ngIf="state$ | async as state">
  <ng-container *ngIf="!state.isLoading; else loading">
    <ng-container *ngIf="state.data; else noData">
      <ng-container *ngFor="let ad of state.data">
        <div class="xl:col-3 lg:col-4 md:col-6 sm:col-12">
          <app-advertisment-card [ad]="ad"></app-advertisment-card>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  <ng-container *ngFor="let _ of skeletonArr">
    <div class="xl:col-3 lg:col-4 md:col-6 sm:col-12">
      <app-advertisment-card></app-advertisment-card>
    </div>
  </ng-container>
</ng-template>
<ng-template #noData></ng-template> -->

<!-- <a href="#" class="advertisments__card">
    <img src="E:/Dev/Solarvito/bulletin-board-project/src/assets/images/girls.png" alt="advertisment image" class="advertisments__card-image">
    <p class="advertisments__card-header">
      Жена и её лучшая подруга
    </p>
    <span class="advertisments__card-price">
      20 000 ₽
    </span>
    <p class="advertisments__card-location-date">Москва, Ленинский проспект <br> Сегодня 14:12 </p>
  </a> -->  