@import "E:/Dev/Solarvito/bulletin-board-project/src/assets/styles/variables.scss";
.advertisments {
  @extend %flex-row-center;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
		&__header {
      margin-top: 32px;
      margin-bottom: 24px;
      height: 32px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: $text-color;
		}
		&__card {
      margin: 0 auto;
      @extend %flex-column;
      align-items: flex-start;
      margin-bottom: 32px;
      height: 336px;
      border: 1px solid $inverse-text-color;
		}
    &__card:hover {
      border: 1px solid $primary-color;
      box-shadow: 0 0 0 1px $primary-color;
      transition: all .3s ease;
    }
		&__card-image {
      width: 100%;
      margin-bottom: 8px;
		}
		&__card-header {
      width: 100%;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: $primary-color;
		}
		&__card-price {
      width: 100%;
      height: 24px;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: $text-color;
		}
		&__card-location-date {
      width: 100%;
      height: 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $secondary-text-color;
		}
}